

@media (max-width: 780px) { .title {
	font-size: 20px
}}

@media (min-width: 781px) { .title {
	font-size: 36px
}}


img {
	display: block;
	margin: auto;
}

table {
	border: 3px solid black;
	margin: auto;
	border-collapse: collapse;
	width: 55%;
	text-align: center;
}

th {
	background-color: #C1D5DA;
	font-size: 20px;
}

tr:hover {
	background-color: #F7FB60;
}

.relegation {
	background-color: #D11414;
}

.Champions {
	font-weight: bold;
}

.Chelsea {
	background-color: #3479EE;
}

.Europa {
	background-color: #127D16;
}

footer p {
	text-align: center
}

.contains {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 200px;
}

.contains > div {
	border: 4px solid black;
	margin: 3px;
	background-color: lightblue;
	text-align: center;
}



